<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.doubleencore.android.pushdontpoll"
          android:versionCode="1"
          android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="18" />


    <uses-permission
        android:name="android.permission.INTERNET"/>
    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.doubleencore.android.pushdontpoll.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:launchMode="singleTop" android:name=".RegisterActivity"/>

        <service
            android:name="com.doubleencore.android.pushdontpoll.sync.AuthenticatorService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <service
            android:name="com.doubleencore.android.pushdontpoll.sync.SyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                       android:resource="@xml/syncadapter" />
        </service>

        <service android:name="com.doubleencore.android.pushdontpoll.GCMIntentService"/>

        <provider
            android:name="com.doubleencore.android.pushdontpoll.sync.DummyProvider"
            android:authorities="com.doubleencore.android.pushdontpoll.provider"
            android:exported="false"
            android:syncable="true"/>


    </application>

</manifest>
